__pycache__/
*.pyc
projects/*/takes/*
projects/*/final/*
projects/*/previs/*.mp4
projects/*/previs/*.mov
!projects/*/**/.gitkeep
*.tmp
projects/*/storyboard/*.jpg
projects/*/storyboard/*.docx
projects/*/characters/*.png
